.forLogin {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.App {
  flex: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form :first-child {
  width: 79%;
  height: 35px;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.184);
}

.form :last-child {
  width: 20%;
  height: 35px;
  box-sizing: border-box;
  background: none;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.184);
  border-radius: 3px;
  cursor: pointer;
}

.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoBlock {
  display: flex;
  width: 60%;
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.067);
  margin-top: 10px;
  border-radius: 5px;
}

.todoBlock :first-child,
.todoBlock :last-child {
  width: 10%;
  background: none;
  border: none;
  cursor: pointer;
}

.textTodo {
  width: 60%;
  font-size: 23px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.added {
  opacity: 50%;
}

.forRegister {
}

.forma {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 23%;
  height: 250px;
  box-shadow: 0px 0px 5px rgba(73, 73, 73, 0.39);
  border-radius: 5px;
}

.forma :last-child {
  width: 70%;
  margin-bottom: 40px;
  background: none;
  border: 1px solid pink;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.App1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  margin-top: 30px;
}

.inputs :last-child,
.inputs input {
  width: 80%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.187);
  border-radius: 5px;
  padding: 0px;
  padding-left: 15px;
  cursor: text;
}
